body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}


main {
    padding: 2em;
    text-align: center;
}
.date-filter button {
    margin: 0 5px;
    padding: 10px;
    background: #1a1f4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.transport-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.transport-table th, .transport-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.transport-table th {
    background: #4B6CC1;
    color: white;
}
.icon {
    width: 60px;
    vertical-align: middle;
    margin-right: 5px;
}



.date-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.date-button-form {
    display: inline-block;
    width: 100%;
}

.date-button {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.date-button:hover {
    background-color: #1a1f4d;
    color: #FFC107;
    font-weight: bold;

}

.date-button.active {
    background-color: #FFC107;
    color: white;
    font-weight: bold;
}

.date-button:focus {
    outline: none;
}

.transport-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transport-table th, 
.transport-table td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

.transport-table th {
    background-color: #1a1f4d;
    color: white;
}

.transport-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.motivational-text {
    font-size: 20px !important;
    color: #2d3748; /* Warna teks */
    text-align: center;
    margin: 20px 0;
}

